* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.parent-div {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.parent-div > div {
    position: absolute;
}

.parent-div .children-div {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../36031.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.parent-div .sun-div {
    left: 0;
    top: 0;
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    z-index: 2;
}

.parent-div .sun-div > div {
    position: relative;
    width: 100%;
    height: 100%;
}

.parent-div .sun-div > div > img {
    position: absolute;
    top: -1%;
    right: 0;
    width: 250px;
}

.parent-div .time-div {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.parent-div .time-div h1 {
    font-size: 130px;
    /* width: 900px; */
    color: transparent;
    -webkit-text-stroke: 2px #fff;
    text-shadow: 5px 0px #fff;
}

.parent-div .time-div .greeting-detection {
    width: 900px;
    background: rgba(0, 0, 0, .75);
    padding: 20px 0;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.parent-div .time-div .clock-div {
    margin: 0 auto;
    margin-top: 40px;
    background: rgba(0, 0, 0, .75);
    padding: 30px;
    border-radius: 10px;
    width: fit-content;
    display: flex;
    backdrop-filter: blur(5px);
}


.parent-div .time-div .clock-div span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}

.parent-div .time-div .clock-div span:last-child {
    margin-left: 5px;
}

.parent-div .fotter {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.parent-div .fotter > p {
    font-size: 40px;
    font-weight: bold;
}

.parent-div .brids-div {
    top: -5%;
}

.parent-div .brids-div > img {
    filter: grayscale(100%) invert(360deg) brightness(100%) contrast(100%);
    width: 200px;
}

.parent-div .animated-man-cat {
    left: 15%;
    top: 45%;
    /* z-index: 0; */
}

.parent-div .animated-man-cat img {
    margin: 0 10px;
    width: 100px;
}
/* .parent-div .dark-div {
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 1);
} */